@model PedidosModel
@{
    ViewData["Title"] = "Eliminar_Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Eliminar Producto
    </div>
    <div class="card-body">


        <form asp-action="Eliminar_Pedido" asp-controller="G_Pedidos" method="post">

            <input asp-for="Pedidos_id" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el producto : @Html.DisplayTextFor(m => m.N_Pedido) ?
            </div>

            <button type="submit" class="btn btn-danger">Elimnar</button>
            <a asp-action="CarritoC" asp-controller="G_Pedidos" class="btn btn-warning">Volver a la lista</a>
        </form>


    </div>
</div>

