@model RolesModel
@{
    ViewData["Title"] = "Eliminar_Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Eliminar Rol
    </div>
    <div class="card-body">


        <form asp-action="Eliminar_Roles" asp-controller="G_Roles" method="post">

            <input asp-for="RolId" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el Rol : @Html.DisplayTextFor(m => m.NRol) ?
            </div>

            <button type="submit" class="btn btn-danger">Elimnar</button>
            <a asp-action="Listar_Roles" asp-controller="G_Roles" class="btn btn-warning">Volver a la lista</a>
        </form>


    </div>
</div>

