@model RolesModel
@{
    ViewData["Title"] = "FEditar_Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Editar Rol
    </div>
    <div class="card-body">
        <form asp-action="FEditar_Roles" asp-controller="G_Roles" method="post">
            <input asp-for="RolId" type="hidden" class="form-control">
            <div class="mb-3">
                <label class="form-label">Nombre del Rol</label>
                <input asp-for="NRol" type="text" class="form-control">
                <span asp-validation-for="NRol" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Descripcion del Rol</label>
                <input asp-for="Descripcion" type="text" class="form-control">
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a asp-action="Listar_Roles" asp-controller="G_Roles" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>
