@model PersonalModel
@{
    ViewData["Title"] = "FGuardar_Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Guardar Personal
  </div>
  <div class="card-body">
        <form asp-action="FGuardar_Personal" asp-controller="G_Personal" method="post">
       <div class="mb-3">
            <label class="form-label">Nombre de Producto</label>
                <input asp-for="NRoles" type="text" class="form-control">
                <span asp-validation-for="NRoles" class="text-danger"></span>
       </div>
       
       <div class="mb-3">
            <label class="form-label">Nombre de Producto</label>
                <input asp-for="NRoles" type="text" class="form-control">
                <span asp-validation-for="NRoles" class="text-danger"></span>
       </div>
       <button type="submit" class="btn btn-primary">Guardar</button>
       <a asp-action="Listar_Inventario" asp-controller="G_Inventario" class="btn btn-warning">Volver a la lista</a>
    </form>
  </div>
</div>

